<div class="page">
    <h1 mat-dialog-title class="title" *ngIf="!(workoutStart$|async)">Start a Workout</h1>
    <h1 mat-dialog-title class="title" *ngIf="(workoutStart$|async)">Add a Workout</h1>

    
    <div *ngIf="(workoutStart$|async) && exerciseId > 0" >
        <form #exerciseFormFilled = 'ngForm' (ngSubmit)="submitExercise(exerciseFormFilled)" class="exercise-input">
    
            <div class="exercise-ele">
                <div>
                    <h1 for="exerciseId">{{exerciseName}}</h1>
                </div>
    
                <div>
                    <label for="setsCompleted">Sets: </label>
                    <input
                    type="number"
                    placeholder="Enter Sets"
                    name="setsCompleted"
                    id="setsCompleted"
                    ngModel
                    #setsCompleted = 'ngModel'
                    required>
                </div>
    
                <div>
                    <label for="repsTime">Reps/Time: </label>
                    <input type="text" placeholder="Enter a Value" name="repsTime" id="repsTime" ngModel #repsTime ='ngModel'>
                </div>
            </div>

            <div class="action add-exercise"><button type="submit" [disabled]="exerciseFormFilled.invalid">Add Exercise</button></div>
        </form>
    </div>
    
    
    <div *ngIf="(workoutStart$|async) && exerciseId == 0">
        <form #exerciseForm = 'ngForm' (ngSubmit)="submitExercise(exerciseForm)" class="exercise-input">
    
            <div class="exercise-ele">
                <div>
                    <label for="exerciseId">Exercise: </label>
                    <select
                    id="exerciseId"
                    name="exerciseId"
                    ngModel
                    #exerciseId ='ngModel'
                    required
                    >
                        <option selected="selected" value="">None</option>
                        <option *ngFor="let exercise of exercises$|async" [ngValue]="exercise.exerciseId">{{exercise.exerciseName}}</option>
                    </select>
                </div>

                <div>
                    <label for="setsCompleted">Sets: </label>
                    <input
                    type="number"
                    placeholder="Enter Sets"
                    id="setsCompleted"
                    name="setsCompleted"
                    ngModel
                    #setsCompleted = 'ngModel'
                    required>
                </div>

                <div>
                    <label for="repsTime">Reps/Time: </label>
                    <input type="text" placeholder="Enter a Value" id="repsTime" name="repsTime" ngModel #repsTime ='ngModel'>
                </div>
            </div>

            <div class="action add-exercise"><button type="submit" [disabled]="exerciseForm.invalid">Add Exercise</button></div>
        </form>
    
    
    </div>
    
    
    <!-- Look into mat form again -->
    <!-- <form> -->
        <div mat-dialog-content class="workout-container" *ngIf="!(workoutStart$|async)">
            <input type="text" placeholder="Enter A Workout Name" [(ngModel)]="workoutTitle">
            <textarea  placeholder="Enter Workout Notes" [(ngModel)]="workout.workoutNote"></textarea>
        </div>
        <div  class="action">
            <button *ngIf="!(workoutStart$|async)" (click)="startWorkout()" class="button-29">Start Workout</button>
    
        </div>
    <!-- </form> -->
    
    <h2 class="workout-title">{{workoutTitleStore}}</h2>
    <div mat-dialog-content *ngIf="workoutStart$|async" class="table-container">
    
        <table>
            <thead>
                <tr>
                    <th>Exercise</th>
                    <th>Sets</th>
                    <th>Reps/Time</th>
                </tr>
            </thead>
    
            <tbody>
                <tr *ngFor="let exercise of currentWorkout$ | async">
                    <td>{{exercise.exerciseName}}</td>
                    <td>{{exercise.setsCompleted}}</td>
                    <td>{{exercise.repsTime}}</td>
                    <td *ngIf="this.data?.exerciseId"><button>Add Workout</button></td>
                </tr>
            </tbody>
        </table>
    </div>

    <button (click)="closePopup()" class="close">X</button>

    <div mat-dialog-actions>
        <button *ngIf="workoutStart$|async" (click)="finishWorkout()">Finish Workout</button>
    </div>
    
</div>
