<header class="header">
    <nav class="nav-container">

        <div class="nav-data">
            <a href="#" class="nav-logo">
                <i class="ri-pulse-line"></i>WorktOut
            </a>
        </div>

        <div class="nav-menu">
            <ul class="nav-list">
                <li>
                    <a routerLink="/" class="nav-link">Home</a>
                </li>

                <li>
                    <a routerLink = "/exercises" class="nav-link">Exercises</a>
                </li>

                <li>
                    <a routerLink="/starred" class="nav-link">Workouts</a>
                </li>

                <li>
                    <a routerLink="/workouts" class="nav-link">Log</a>
                </li>
            </ul>
        </div>
    </nav>
</header>
<button class="ri-pulse-line floating-btn" (click)="openDialog()"></button>
