<div class="page">
    <div class="page-title">
        <h2 class="title">Saved Workouts</h2>
    </div>

    <div class="details-background">
        <div class="elements-container">
            <div *ngFor="let workout of workouts; let i = index" class="card" (click)="openDialog(workout[0].workoutId)"> 
                <div class="element">
                    <h1>{{workout[0].workoutName}}</h1>

                    <div class="element-description">
                        <table>
                            <thead>
                                <tr>
                                    <th>Exercise</th>
                                    <th>Sets</th>
                                    <th>Reps/Time</th>
                                </tr>
                            </thead>
                    
                            <tbody>
                                <tr *ngFor="let exercise of workout">
                                    <td>{{exercise.exerciseName}}</td>
                                    <td>{{exercise.setsCompleted}}</td>
                                    <td>{{exercise.repsTime}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>