<div class="page">
    <div class="page-title">
      <h2 class="title">Exercises</h2>

      <app-target-list/>
    
      <div class="button-container">
        <button (click)="toggleForm()" class="addNewExercise">Add New Exercise</button>
      </div>
      <app-new-exercise *ngIf="showForm"/>

    </div> 
    
    <div class="exercises-background">
        <div class="exercise">
            <div *ngFor="let item of exercises" class="exercise-card"> 
                <div id="exercise-box">
                    <h1>{{item.exerciseName}}</h1>

                    <div class="image">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQvZqTZME1qLUb6P4IqP9VDdj_Zzsyb-G_wCw&usqp=CAU" alt="" class="exercise-pic">
                    </div>

                    <div class="description">
                        <h5 class="description">Description: </h5>
                        <p class="description-box">{{item.exerciseDesc}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
