<div class="page">
    <div class="page-title">
      <h2 class="title">Exercises</h2>

      <app-target-list/>
    
      <div class="button-container">
        <div class="search-input">
            <i class="ri-search-eye-line"></i>
            <input type="text" class="searchBar" placeholder="Search..." [(ngModel)]="searchInput"(input)="filterExercise()">
        </div>
        <div class="edit-button"></div>
        <button (click)="toggleForm()" class="button-29">Add New Exercise</button>
      </div>
      <app-new-exercise *ngIf="showForm"/>

    </div> 
    
    <div class="exercises-background">
        <div class="exercise" *ngIf="searchInput.length > 0; else exerciseList">
            <div *ngFor="let item of filteredExercises$ | async" class="exercise-card"> 
                <div id="exercise-box">
                    <a [routerLink]="['/exercise', item.exerciseId]"><h1>{{item.exerciseName}}</h1></a>

                    <div class="image">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQvZqTZME1qLUb6P4IqP9VDdj_Zzsyb-G_wCw&usqp=CAU" alt="" class="exercise-pic">

                        <!--*************************** Needs Styling ************************************ -->
                        <!-- <img src={{item.exercisePic}} alt=""> -->

                    </div>
                    <button class="ri-add-line" *ngIf="workoutStart$|async" (click)="openPopup(item.exerciseId, item.exerciseName)"></button>

                    <div class="description">
                        <h5 class="description">Description: </h5>
                        <p class="description-box">{{item.exerciseDesc}}</p>
                    </div>
                </div>
            </div>
        </div>


        <ng-template #exerciseList>
            <div class="exercise">
                <div *ngFor="let item of exercises$ | async" class="exercise-card" #exerciseList>
                    <div id="exercise-box">
                        <a [routerLink]="['/exercise', item.exerciseId]">
                            <h1>{{item.exerciseName}}</h1>
                        </a>
        
                        <div class="image">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQvZqTZME1qLUb6P4IqP9VDdj_Zzsyb-G_wCw&usqp=CAU"
                                alt="" class="exercise-pic">
        
                            <!--*************************** Needs Styling ************************************ -->
                            <!-- <img src={{item.exercisePic}} alt=""> -->
        
                        </div>
                        <button class="ri-add-line" *ngIf="workoutStart$|async"
                            (click)="openPopup(item.exerciseId, item.exerciseName)"></button>
        
                        <div class="description">
                            <h5 class="description">Description: </h5>
                            <p class="description-box">{{item.exerciseDesc}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
        
    </div>
</div>
