<div class="page">
    <div class="exercise-container">

        <app-add-to-group [exercise] = 'exercise' *ngIf="edit"></app-add-to-group>

        <form #exerciseForm = 'ngForm' (ngSubmit)="onSubmit()" class="exercise-form">
 
                <div class="title">
                    <h1 *ngIf="!edit">{{exercise.exerciseName}}
                        <button *ngIf="!edit" (click)="toggleForm()" class="ri-edit-2-line edit"></button>
                    </h1>

                    <div *ngIf="edit">
                        <input type="text" [(ngModel)]="exercise.exerciseName" name="exerciseName">
                        <button (click)="toggleForm()" class="edit" id="cancel">Cancel</button>
                    </div>
                </div>
                
                

                <div class="picture">
                    <img *ngIf="exercise.exercisePic == null" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQvZqTZME1qLUb6P4IqP9VDdj_Zzsyb-G_wCw&usqp=CAU"
                        alt="" class="exercise-pic">
                    <img *ngIf="exercise.exercisePic != null" src={{exercise.exercisePic}} alt="" class="exercise-pic">
                </div>

                <div>Description: </div>
                <div class="description">
                    <p *ngIf="!edit">{{exercise.exerciseDesc}}</p>
                    <textarea *ngIf="edit" cols="30" rows="10" [(ngModel)]="exercise.exerciseDesc" name="exerciseDesc"></textarea>
                </div>

                <div class="button-container">
                    <button class="ri-add-line add-button" *ngIf="!edit && (workoutStart$|async)" type="button"
                        (click)="openPopup(exercise.exerciseId, exercise.exerciseName)"></button>
                </div>
            
            <button *ngIf="edit" class="action" type="submit" [disabled]="exerciseForm.invalid">Save Exercise</button>
        </form>

        <div mat-dialog-actions class="finish-container">
            <button class="action" id="finish-btn" *ngIf="edit" (click)="deleteExercise()">Delete Exercise</button>
        </div>

    </div>
    <button (click)="closePopup()" class="close">X</button>
</div>