<div class="page">
    <div class="exercise-container">

        <form #exerciseForm = 'ngForm' (ngSubmit)="onSubmit()" class="exercise-form">
 
                <div class="title">
                    <h1 *ngIf="!edit">{{exercise.exerciseName}}</h1>
                    <input *ngIf="edit" type="text" [(ngModel)]="exercise.exerciseName" name="exerciseName">
                </div>
                
                

                <div class="picture">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQvZqTZME1qLUb6P4IqP9VDdj_Zzsyb-G_wCw&usqp=CAU"
                        alt="" class="exercise-pic">
                </div>

                <div>Description: </div>
                <div class="description">
                    <p *ngIf="!edit">{{exercise.exerciseDesc}}</p>
                    <textarea *ngIf="edit" cols="30" rows="10" [(ngModel)]="exercise.exerciseDesc" name="exerciseDesc"></textarea>
                </div>

                <div class="button-container">
                    <button class="ri-add-line" *ngIf="workoutStart$|async" type="button"
                        (click)="openPopup(exercise.exerciseId, exercise.exerciseName)"></button>
                    <button *ngIf="!edit" (click)="toggleForm()" class="addNewExercise">Edit</button>
                    <button *ngIf="edit" (click)="toggleForm()" class="addNewExercise">Cancel</button>
                
                
                </div>
            
            <button *ngIf="edit" type="submit" [disabled]="exerciseForm.invalid">Save Exercise</button>
            <button *ngIf="edit" (click) = 'deleteExercise()'>Delete Exercise</button>

        </form>


    </div>
</div>