<div class="page">
    <div class="title">
        <h1>Workouts</h1>
    </div>

    <div class="details-background">
        <div class="elements-container">
            <div *ngFor="let workout of workouts" class="card" > 
                <div class="element" (click)="openDialog(workout[0].workoutId)">
                    <h1>{{workout[0].workoutName}}
                        <i class="ri-star-line favorite-btn" *ngIf="!workout[0].favorite" (click)="toggleFavorite($event,workout)"></i>
                        <i class="ri-star-fill unfavorite-btn" *ngIf="workout[0].favorite" (click)="toggleFavorite($event,workout)"></i>
                    </h1>

                    
                    <div class="element-description">
                        <div>
                            <h5>Description: </h5>
                            <p class="description-box" style="margin-right: 2rem;">{{workout[0].workoutNote}}</p>
                        </div>
                        <div>
                            <p class="date">{{workout[0].workoutDate}}</p>
                        </div>
                    </div>
                    
                </div>

                
                
            </div>
        </div>
    </div>

</div>
