<div class="container">

    

        <form #exerciseForm = 'ngForm' class="form-area" (ngSubmit)="onSubmit(exerciseForm)">
            <div class="form-group">
                <div><label>Name Your Exercise: </label></div>
                <input 
                type="text" 
                placeholder="Exercise Name" 
                class="form-control" 
                name="exerciseName" 
                ngModel 
                #exerciseName = 'ngModel' 
                required
                minlength="1"
                [ngClass]="{'is-invalid': exerciseName.touched && exerciseName.invalid}">
            </div>
            <div *ngIf="exerciseName.errors?.['required']">
                <div *ngIf="exerciseName.touched && exerciseName.invalid">Must include a name</div>
            </div>

            <br><br>
    
            <div class="form-group">
                <div><label>Description: </label></div>
                

                <textarea  rows="10" placeholder="Exercise Description" class="form-control" name="exerciseDesc" ngModel></textarea>
            </div>
    
            <div class="form-group">
                <label>Picture: </label>
                <input type="file" 
                accept="image/*" 
                class="form-control" 
                name="exercisePic" 
                ngModel
                (change)="onFileChange($event)">
            </div>
    
            <button type="submit" [disabled]="exerciseForm.invalid">Add</button>
        </form>
</div>

