.is-invalid{
    border: 2px solid red;
}
.container{
    position: relative;
    width: 50%;
    left:  25%;
    padding: 10px;
}
.form-area{
text-align: center;
background-color: var(--first-color-lighten);
border: 1px solid white;
border-radius: 2rem;
padding: 10px;

}

input,textarea{
    border-radius: 25px;
    outline: none;
    padding: 10px;
    font-size: 1em;

}
input:focus{
    border: 3px solid rgb(204, 52, 164);
}
