<h1 mat-dialog-title>{{workout[0].workoutName}}</h1>

<div mat-dialog-content>

    <table>
        <thead>
            <tr>
                <th>Exercise</th>
                <th>Sets</th>
                <th>Reps/Time</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let exercise of workout">
                <td>{{getExerciseName(exercise.exerciseId)}}</td>
                <td>{{exercise.setsCompleted}}</td>
                <td>{{exercise.repsTime}}</td>
            </tr>
        </tbody>
    </table>
</div>

<div mat-dialog-actions>
    <button (click)="closePopup()">Close</button>
</div>
