<div class="page">
    <div class="container">
        <div class="title">
            <h1>
                Welcome to<br/>
                <span class="gradient" style="color: rgb(66, 153, 228);">WorktOut</span><br/>
            </h1>
            <p style="padding-top: .5rem; font-size: 15px;">A Workout Companion App</p>
        </div>
        
        <div class="about">
            <h3 class="gradient">About WorktOut: </h3>
            <p style="padding-top: 1rem;">The purpose of Workout is to assist in building a workout routine through
                 logging of exercises and workouts taking the
                a lot of the planning and guesswork out of working out.
                <br/>
                Workout also has a growing database of exercises helping anyone easily find
                 movements that target specific muscle groups or routines.
            </p> 
        </div>

        <div class="directions">
            <h3 class="gradient">Get Started: </h3>
            <ol>
                <li>Click the Workout button 
                    <button class="ri-pulse-line floating-btn"></button>
                    in the bottom right to start a workout.</li>
                
                <li>Once started you can add an exercises to your current workout by clicking the Workout button again 
                    or by clicking the blue plus on any exercise throughout the site.
                    <div class="images">
                        <img src="assets\exercise-plus.png" alt="" class="direction-img">
                        <img src="assets\add-exercise.png" alt="" class="direction-img">
                    </div>
                </li>
                    
                <li>When youre done adding your exercises click the Finish Workout button and your 
                    workout will be added to the log.
                    <div class="images"><img src="assets\finish-workout.png" alt="" class="direction-img"></div>
                </li>
            </ol>
        </div>
    </div>
</div>