<div>

    <!-- Side scroll bar for all groups on click route to single target
    component to list exercises in group -->
    <div class="target-scroller snaps-inline">
        <div *ngFor="let item of targets">
            <div class="target-element">
                <a [routerLink]="['/exercises', item.targetId]"><h1>{{item.targetName}}</h1></a>
            </div>
        </div>
        <div class="target-element" *ngIf="!showForm" (click) = 'toggleForm()'>Add A Group</div>
        <div class="target-element" *ngIf="showForm" (click) = 'toggleForm()'>Cancel</div>
        <div class="target-element" *ngIf="showForm">
            <form #targetForm = 'ngForm' (ngSubmit)="onSubmit(targetForm)">
                <input 
                type="text" 
                name="targetName"  
                placeholder="Enter a Group Name"
                ngModel
                #targetName = 'ngModel'
                required
                minlength="1"
                >
                <button type="submit" [disabled]="targetForm.invalid">Save</button>
            </form>
            
        </div>
    </div>
</div>