/* .target-scroller{
    display: grid;
    
    gap: 2rem;
    grid-auto-flow: column;
    grid-auto-columns: 13%;

    padding: 0 1rem 1rem;

    overflow-x: auto;
    overscroll-behavior-inline: contain;
} */
.target-scroller{
    display: flex;
    justify-content: flex-start;
    gap: 1.5rem;
    padding: 0 1rem 1rem;

    overflow-x: auto;
    overscroll-behavior-inline: contain;
}
.target-element{
    justify-content: center;
    display: grid;
    overflow-wrap: break-word;
    grid-template-rows: min-content;
    gap: 1rem;
    padding: 1rem;
    background: linear-gradient(30deg, rgb(192, 2, 116), blue);
    /* background-color: var(--first-color); */
    border-radius: 1rem;
    cursor: pointer;
}
.target-element>i{
    text-align: center;
}
.snaps-inline{
    scroll-snap-type: inline mandatory;
    scroll-padding-inline: 1rem;
}
.snaps-inline > * {
    scroll-snap-align: start;

}
a{
    color: inherit;
}
.link{
    overflow-wrap: break-word;
}